<h2 mat-dialog-title>Trámites y Servicios</h2>
<form [formGroup]="servicesForm" (submit)="editing ? updateService() : createService()">
    <mat-dialog-content class="p-8">
        <div>
            <mat-label class="block text-sm font-medium text-slate-700">Nombre del trámite</mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="grid gap-x-3 mb-3 lg:grid-cols-2">
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Clave</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="clave">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Costo</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="costo">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Vigencia</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="vigencia">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Tiempo</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="tiempo">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Documento Expedido</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="documento_expedido">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Tipo de Documento</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="tipo_documento_id">
                        <mat-option *ngFor="let documentType of documentTypes" value="{{ documentType.id }}">{{ documentType.nombre }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div>
            <mat-label class="block text-sm font-medium text-slate-700">Descripción</mat-label>
            <mat-form-field class="example-full-width" appearance="outline">
                <textarea matInput formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>

        <div class="space-x-3">
            <mat-checkbox class="example-margin" formControlName="activo">Activo</mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="en_linea">En línea</mat-checkbox>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
            Cancel
        </button>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
            <mat-spinner class="inline w-4 h-4 mr-7" diameter="20" color="accent" *ngIf="loading"></mat-spinner>
            {{ editing ? 'Actualizar' : 'Crear' }}
        </button>
    </mat-dialog-actions>
</form>
