<h3 mat-dialog-title>Cambiar contraseña</h3>
<form [formGroup]="resetPasswordForm">
    <div>
        <mat-label class="block text-sm font-medium text-slate-700">Contraseña</mat-label>
        <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        </mat-form-field>

    </div>
    <div>
        <mat-label class="block text-sm font-medium text-slate-700">Confirmar contraseña</mat-label>
        <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="re_password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

    </div>
    <button (click)="resetPasword()" mat-flat-button color="primary" class="w-full rounded-lg">
        Confirmar
    </button>
</form>
