<div class="lg:px-16 lg:py-10" *ngIf="direction">
    <div class="flex flex-col xl:flex-row">
        <div class="flex flex-col w-full p-6 space-y-10">
            <div class="lg:flex lg:items-center lg:justify-between">
                <div class="flex-1 min-w-0">
                    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Tramites disponibles para {{ direction.nombre }}</h2>
                    <p>Se encontraron {{ services.length }} trámites disponibles</p>
                </div>
            </div>

            <div class="flex items-center justify-between">
                <div class="lg:w-1/3 md:w-1/2">
                    <div class="relative">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5"
                               placeholder="Buscar solicitud...">
                    </div>
                </div>
                <div class="flex space-x-3">
        <span>
            <button type="button" mat-flat-button color="primary"
                    (click)="openDialog()">
                <i class="fa-solid fa-folder-open"></i>&nbsp;Crear trámite
            </button>
        </span>
                </div>
            </div>

            <div class="mt-5 flex gap-4">
                <div class="w-full bg-white shadow overflow-hidden rounded-lg">
                    <table mat-table [dataSource]="dataSource" class="w-full">
                        <ng-container matColumnDef="tramite">
                            <th mat-header-cell *matHeaderCellDef> Trámite</th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="requisitos">
                            <th mat-header-cell *matHeaderCellDef> Requisitos</th>
                            <td mat-cell *matCellDef="let element">
                                <a mat-button color="primary" (click)="openRequirementsDialog(element.uuid)">
                                    {{element.Requisitos.length}} requisitos
                                </a>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="costo">
                            <th mat-header-cell *matHeaderCellDef> Costo</th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.costo !== ''"> {{element.costo }} </span>
                                <span *ngIf="element.costo === ''"> N/A </span>
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <a mat-flat-button color="primary" class="rounded-md" [routerLink]="['/servicio', element.uuid]">
                                    Ver detalle
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encontraron resultados...</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
