<h2 mat-dialog-title>Mensajes</h2>
<mat-dialog-content class="mat-typography" *ngIf="records">

    <ol class="relative border-l border-gray-200 dark:border-gray-700">
        <div *ngIf="records.length <= 0" class="p-4 text-sm text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-300" role="alert">
            No se encontraron mensajes para esta solicitud
        </div>
        <li class="mb-10 ml-4" *ngFor="let record of records">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{{ record.fecha_alta | date:'medium'}}</time>
            <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>-->
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{{ record.mensaje }}</p>
            <!--<a href="#" *ngIf="record.url" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                Ver adjunto <svg class="ml-2 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>-->
        </li>
    </ol>


</mat-dialog-content>
<mat-dialog-actions>

    <a (click)="seeDocument()" class="text-xs hover:cursor-pointer"*ngIf="selectedFile">{{ selectedFile.name }}</a>
    <mat-progress-bar mode="indeterminate" *ngIf="uploadingFile"></mat-progress-bar>

    <form [formGroup]="messageForm" (ngSubmit)="createMessage(selectedFile)" class="w-full">
        <label for="chat" class="sr-only">Your message</label>
        <div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
            <input type="file" class="hidden" #file (change)="getFile($event)" accept="application/pdf">
            <button type="button" (click)="file.click()" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
            </button>
            <textarea id="chat" rows="2" formControlName="mensaje" class="block mx-4 p-2.5 w-full text-xs text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
            <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
            </button>
        </div>
    </form>

</mat-dialog-actions>
