<h2 mat-dialog-title>Secretarías y Dependencias Municipales</h2>
<form [formGroup]="dependenciesForm">
    <mat-dialog-content class="mat-typography">
        <div>
            <mat-label class="block text-sm font-medium text-slate-700">Nombre de la dependencia</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="grid grid-cols-2 gap-3">
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Responsable</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="responsable">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Correo electrónico</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email" type="mail">
                </mat-form-field>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-3">
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Horario</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="horario">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Teléfono</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="telefono">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="block text-sm font-medium text-slate-700">Extensión</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="extension">
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-label class="block text-sm font-medium text-slate-700">Ubicación</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="ubicacion">
            </mat-form-field>
        </div>
        <div>
            <mat-label class="block text-sm font-medium text-slate-700">Descripción</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <textarea matInput rows="4" formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="success" (click)="createDependency()" *ngIf="!forUpdate">
            Agregar
        </button>
        <button mat-flat-button color="success" (click)="updateDependency()" *ngIf="forUpdate">
            Actualizar
        </button>
    </mat-dialog-actions>
</form>
